// BASICS: BASE (resets and other stuff)
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Based on https://github.com/sindresorhus/modern-normalize v.1.0

@use "../00_setup/default-variables" as *;

// For AlpineJS =======================
[x-cloak] {
  display: none !important;
}
// ====================================

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100%;
  scroll-behavior: smooth;
  margin: 0;
  font-family: var(--font-base);
  font-size: var(--t-fs);
  line-height: var(--t-base-lh);
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga" on;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  color: var(--c-text);
  background-color: var(--c-page-bg);
}

*:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

abbr[title] {
  text-decoration: underline dotted;
  text-underline-offset: 2px;
}

b,
strong {
  font-weight: var(--t-bold);
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

:-moz-ui-invalid {
  box-shadow: none;
}

input:focus,
form button:focus,
:focus-visible {
  outline-width: 2px;
  outline-offset: 3px;
}

small {
  font-size: 85%;
}

::selection {
  background-color: var(--c-selection);
}

img {
  max-width: 100%;
}

figure {
  padding: 0;
  margin: 0;
}

audio,
canvas,
progress,
video {
  display: block;
  width: 100%;
}

iframe {
  border: 0;
}

[type="number"] {
  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    height: auto;
  }
}

[type="search"] {
  -webkit-appearance: textfield;
  appearance: textfield;

  ::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
  }
}