// BASICS: FORM ELEMENTS (INCLUDING BUTTONS)
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@use "../00_setup/default-variables" as *;
@use "sass:math";

fieldset {
  border: var(--b1);
}

label,
legend {
  font-size: 1rem;
  font-family: var(--base);
}

::placeholder {
  color: var(--ctext);
  opacity: 0.7;
}

input,
textarea,
select {
  width: 100%;
  min-height: var(--form-size);
  // -webkit-appearance: none;
  border: var(--line-detail);
  border-radius: unset;
  padding: var(--form-p);
  font-family: var(--form-font);
  font-size: 1rem;
  text-align: start;

  @if $form-input-rounded-corners==true {
    -webkit-border-radius: var(--rad-sm);
    border-radius: var(--rad-sm);
  }

  @else {
    -webkit-border-radius: 0;
    border-radius: 0;
  }

  @if $form-input-background-color==true {
    background-color: var(--c-form-bg)
  }

  transition: var(--ease);
}

select,
[type="number"] {
  width: auto;
}

//input:focus,
// select:focus,
// textarea:focus {
//   position: relative;
//   z-index: 1;
//   outline: transparent;
//   box-shadow: 0 0 0 var(--form-focus) var(--c-form-focus);
//   ;
// }

select:not([multiple]) {
  height: var(--form-size);
}

[type="color"] {
  width: var(--form-size);
  height: var(--form-size);
  padding: .25em
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  width: 1.3em;
  height: 1em;
  min-height: unset;
}

input::file-selector-button {
  border: 0;
  font-size: 1em;
  color: white;
  background: var(--c-tertiary);
}

select,
[type=number],
[type=date],
[type=month],
[type=time],
[type=button],
[type=reset],
[type=submit] {
  width: unset;
}

input.form-element-sm,
select.form-element-sm {
  height: var(--form-size-sm);
  min-height: unset;
  padding: var(--form-p-sm);
  font-size: var(--form-size-sm-fs);
}

textarea.form-element-sm {
  padding: var(--form-p-sm);
  font-size: var(--form-size-sm-fs);
}

.form-element-lg {
  height: var(--form-size-lg);
  min-height: unset;
  padding: var(--form-p-lg);
  font-size: var(--form-size-lg-fs);
}

.inline-block input {
  display: inline-block;
}

:disabled,
.disabled {
  position: relative;
  opacity: 0.5;
  pointer-events: none;
}

@mixin button {
  position: relative;
  -webkit-appearance: none;
  height: var(--form-size);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: var(--line-detail);

  @if $form-input-rounded-corners ==true {
    border-radius: var(--rad-sm);
  }

  padding: var(--btn-p);
  font-family: var(--form-font);
  font-size: 100%;
  font-weight: var(--btn-fw);
  text-decoration: none; // prevents hover underline when button styling is applied to links
  white-space: nowrap;
  color: var(--c-text); // so that button text isn’t overridden by the the color of link text
  background-color: transparent;
  transition: var(--ease);

  &:hover,
  &:active,
  &.active {
    color: var(--c-btn-text);
    background-color: var(--c-btn-hover);
    cursor: pointer;
  }

  @if $button-rounded-corners ==true {
    border-radius: var(--rad-sm);
  }

  @else {
    border-radius: 0;
  }

  &.block {
    text-align: center;
  }
}

button,
[type="button"],
[type="submit"],
[type="reset"] {
  @include button;

  // &:focus-visible {
  //   z-index: 1;
  //   outline: transparent;
  //   box-shadow: 0 0 0 var(--form-focus) var(--c-form-focus);
  // }
}

.btn {
  @include button;
}

:disabled:hover,
.disabled:hover {
  cursor: not-allowed;
}