// BASICS: FORM ELEMENTS (INCLUDING BUTTONS)
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@use "../00_setup/default-variables" as *;
@use "sass:math";

label {
  display: inline-block;
  padding: .5rem 0;
  font-family: var(--font-ui);
}

fieldset {
  border: var(--line-detail);
  padding: 0 var(--sp-2) var(--sp-2);
  font-family: var(--form-font);
}

legend {
  font-family: var(--font-ui);
}

input,
select,
textarea {
  position: relative;
  display: block;
  width: 100%;
  outline: 0 none;
  margin-block: 0;
  // -webkit-appearance: none;
  border: var(--line-detail);

  @if $form-input-rounded-corners==true {
    -webkit-border-radius: var(--rad-sm);
    border-radius: var(--rad-sm);
  } @else {
    -webkit-border-radius: 0;
    border-radius: 0;
  }

  padding: var(--form-p);
  min-height: var(--form-size);
  font-family: var(--form-font);
  text-align: start;
  color: var(--c-text);

  @if $form-input-background-color==true {
    background-color: var(--c-form-bg)
  }

  transition: var(--ease);

  &:focus {
    z-index: 1;
    outline: 0;
    box-shadow: 0 0 0 var(--form-focus) var(--c-form-focus);
  }
}

::placeholder {
  color: var(--c-text);
  opacity: .7;
  text-overflow: ellipsis;
}

select, [type="number"] {
  width: auto;
}

::file-selector-button {
  border: var(--line-detail);
  padding-block: 0.125em;
  font-size: 1em;
  color: white;
  background: var(--c-tertiary);
}

[type="color"] {
  width: var(--form-size);
  height: var(--form-size);
  padding: 0.125rem
}

[type=button],
[type=reset],
[type=submit] {
  display: inline-block;
  width: auto;
}

option {
  padding: .25em 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -0.125em;
  width: 1.25em;
  height: 1em;
  margin: 0;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  margin-left: 0.25em;
}

textarea {
  vertical-align: top;
  padding-top: 4px;
  padding-bottom: 4px;
  overflow: auto;
}

input.form-element-sm,
select.form-element-sm {
  height: var(--form-size-sm);
  min-height: unset;
  padding: var(--form-p-sm);
}

textarea.form-element-sm {
  padding: var(--form-p-sm);
}

.form-element-lg {
  height: var(--form-size-lg);
  min-height: unset;
  padding: var(--form-p-lg);
}

.inline-block input {
  display: inline-block;
}

:disabled,
.disabled {
  position: relative;
  opacity: 0.5;
  pointer-events: none;
}

@mixin button {
  position: relative;
  -webkit-appearance: none;
  height: var(--form-size);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: var(--line-detail);

  @if $form-input-rounded-corners == true {
    border-radius: var(--rad-sm);
  }
  
  padding: var(--btn-p);
  font-family: var(--form-font);
  font-weight: var(--btn-fw);
  text-decoration: none; // prevents hover underline when button styling is applied to links
  white-space: nowrap;
  color: var(--c-text); // so that button text isn’t overridden by the the color of link text
  background-color: transparent;
  transition: var(--ease);

  &:hover,
  &:active,
  &.active {
    color: var(--c-btn-text);
    background-color: var(--c-btn-hover);
    cursor: pointer;
  }

  @if $button-rounded-corners ==true {
    border-radius: var(--rad-sm);
  }

  @else {
    border-radius: 0;
  }

  &.block {
    text-align: center;
  }
}

button,
[type="button"],
[type="submit"],
[type="reset"] {
  @include button;

  &:focus {
    z-index: 1;
    outline: 0;
    box-shadow: 0 0 0 var(--form-focus) var(--c-form-focus);
  }
}

.btn {
  @include button;
}

:disabled:hover,
.disabled:hover {
  cursor: not-allowed;
}