<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Docs for Codebase, a CSS style library for the modern web.">

  <title>{{ title + ' - ' if title }}Codebase</title>

  <link href="{{ '/prism/prism.css' | url }}" rel="stylesheet">
  <link href="{{ '/dist/codebase.css' | url }}{{ '?v=' + metadata.version }}" rel="stylesheet">

  <link rel="icon" type="image/svg+xml" href="{{ '/favicon.svg' | url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | url }}">
  <link rel="manifest" href="{{ '/site.webmanifest' | url }}">
  <link rel="mask-icon" href="{{ '/safari-pinned-tab.svg' | url }}" color="#5bbad5">
  <meta name="msapplication-config" content="{{ '/browserconfig.xml' | url }}">
  <meta name="generator" content="{{ eleventy.generator }}">
  <meta name="msapplication-TileColor" content="#9f00a7">
  <meta name="theme-color" content="#ffffff">
  
  <style>
    {# * {
        outline: 1px solid limegreen !important;
    } #}
    html {
      scroll-behavior: smooth;
    }
    #site-top-bar {
      z-index: 990;
    }
    #site-title svg {
      height: 25px;
      width: 50px;
    }

    pre code {
      white-space: pre-wrap !important;
      max-width: calc(100vw - 2rem);
    }
    .table, 
    .overflow-x:has(.table),
    pre code {
      max-width: calc(100vw - 2rem);
    }

    @media (max-width: 1023px) {
      #side-menu-wrap {
        max-height: calc(100vh - 42px);
        overflow-y: auto;
      }
    }

    @media (min-width: 1024px) {
      #site-page {
        grid-template-columns: 256px 1fr;
        max-width: 100vw;
      }
      #site-navigation > div {
        top: 42px;
        max-height: calc(100vh - 42px);
        scrollbar-gutter: stable;
        overflow-y: auto;
      }
      .ms-windows #site-navigation > div {
        overflow-y: hidden;
      }
      .ms-windows #site-navigation:hover > div {
        overflow-y: auto;
      }
      :target {
        scroll-margin-top: 72px;
      }
    }

    @media (min-width: 1280px) {
      #site-page {
        grid-template-columns: 256px auto 256px;
      }
      #docs-article {
        grid-template-columns: auto 256px;
      }
      #nav-on-this-page > div {
        width: 100%;
        top: 42px;
        max-height: calc(100vh - 42px);
        scrollbar-gutter: stable;
        overflow-y: auto;
      }
      .ms-windows #nav-on-this-page > div {
        overflow-y: hidden;
      }
      .ms-windows #nav-on-this-page:hover > div {
        overflow-y: auto;
      }
    }

    #toc ul {
      list-style-type: none;
      margin-bottom: 0;
      padding-left: 0;
    }
    #toc ul ul {
      padding-left: 1rem;
    }
    #toc li {
      margin-bottom: 1rem;
    }
    #toc a:not(:hover):not(:focus-visible) {
      text-decoration: none;
    }
    @media (max-width: 1279px) {
      #toc ul ul {
        display: none;
      }
    }

    #docs-hero-feature {
      display: block;
      max-width: 280px;
      margin: auto;
    }
    @media (min-width: 1024px) {
      #docs-hero-feature {
        width: 100%;
        max-width: unset;
      }
    }

    /* Examples */

    svg tspan {
      font-family: Arial, Helvetica, sans-serif;
      letter-spacing: 0;
    }
    .month span {
      width: calc(100% / 7);
      margin: 0.5rem 0;
    }

    /* Pagefind */

    .pagefind-ui__form {
      position: relative;
      display: block;
      margin-top: 1em;
    }

    .pagefind-ui__search-input {
      display: block;
      width: 100%;
      border-radius: 3em;
      padding-left: 1em;
    }

    .pagefind-ui__suppressed {
      opacity: 0;
      pointer-events: none;
    }

    .pagefind-ui__search-clear {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      border: 0;
      border-radius: 0 3em 3em 0;
      font-size: 0.85rem;
      font-weight: normal;
      background-color: transparent;
    }

    .pagefind-ui__results-area {
      margin-top: 1em;
    }

    .pagefind-ui__result-image {
      display: none;
    }

    div:not(.pagefind-ui__result-nested)>.pagefind-ui__result-title {
      margin-bottom: 0;
      font-size: var(--h4);
      font-weight: var(--t-semibold);
    }
  </style>

  <!-- Alpine and Plugins -->
  <script defer src="https://unpkg.com/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
  <script defer src="https://unpkg.com/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
  <script defer src="https://unpkg.com/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
  <script defer src="https://unpkg.com/alpinejs"></script>
</head>

<body>
  <script defer>
    if (navigator.appVersion.indexOf("Win") != -1) {
      document.body.classList.add('ms-windows');
    }
  </script>
