<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="description" content="Docs for Codebase, the super tiny website frontend library (CSS/JS).">

  <title>{{ title + ' - ' if title }}Codebase</title>

  <link href="{{ '/prism/prism.css' | url }}" rel="stylesheet">
  <link href="{{ '/dist/codebase.css' | url }}{{ '?v=' + metadata.version }}" rel="stylesheet">

  <link rel="icon" type="image/svg+xml" href="{{ '/favicon.svg' | url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | url }}">
  <link rel="manifest" href="{{ '/site.webmanifest' | url }}">
  <link rel="mask-icon" href="{{ '/safari-pinned-tab.svg' | url }}" color="#5bbad5">
  <meta name="msapplication-config" content="{{ '/browserconfig.xml' | url }}">
  <meta name="msapplication-TileColor" content="#9f00a7">
  <meta name="theme-color" content="#ffffff">
  
  <style>
    html {
      scroll-behavior: smooth;
    }
    body { 
      max-width: 100vw;
    }
    main h2, main h3, main h4, main h5, main h6 {
      scroll-margin-top: 72px;
    }
    #site-top-bar {
      height: 56px;
      z-index: 990;
    }
    #site-title {
      display: block;
      font-size: 1.325rem;
      line-height: 1.5rem;
    }
    #site-title svg {
      position: relative;
      height: 18px;
      width: 34px;
      top: .0625em;
      margin-right: .325em;
      transform: scale(1.5);
    }

    #site-title,
    #site-footer-title {
      color: white;
    }

    #site-title svg,
    #site-footer-title svg {
      fill: white;
    }

    @media (max-width: 767px) {
      #side-menu-wrap {
        max-height: calc(100vh - 57px);
        overflow-y: auto;
      }
    }

    @media (min-width: 768px) {
      #site-page {
        grid-template-columns: 256px calc(100vw - 256px);
      }
      #site-navigation > div {
        top: 57px;
        max-height: calc(100vh - 57px);
        scrollbar-gutter: stable;
        overflow-y: auto;
      }
      .ms-windows #site-navigation > div {
        overflow-y: hidden;
      }
      .ms-windows #site-navigation:hover > div {
        overflow-y: auto;
      }
    }

    @media (min-width: 1280px) {
      #site-page {
        grid-template-columns: 256px auto 256px;
      }
      #docs-article {
        grid-template-columns: auto 256px;
      }
      #nav-on-this-page > div {
        width: 100%;
        max-height: calc(100vh - 55px);
        overflow-y: auto;
      }
    }

    #toc ul {
      list-style-type: none;
      margin-bottom: 0;
      padding-left: 0;
    }
    #toc ul ul {
      padding-left: 1rem;
    }
    #toc li {
      margin-bottom: 1rem;
    }
    #toc a {
      text-decoration: none;
    }
    #toc a:hover {
      text-decoration: underline;
    }
    @media (max-width: 1279px) {
      #toc ul ul {
        display: none;
      }
    }

    #docs-hero-feature {
      display: block;
      max-width: 280px;
      margin: auto;
    }
    @media (min-width: 1024px) {
      #docs-hero-feature {
        width: 100%;
        max-width: unset;
      }
    }

    /* Examples */
    svg tspan {
      font-family: Arial, Helvetica, sans-serif;
      letter-spacing: 0;
    }
    .month span {
      width: calc(100% / 7);
      margin: 0.5rem 0;
    }
  </style>

  <!-- Alpine and Plugins -->
  <script defer src="https://unpkg.com/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
  <script defer src="https://unpkg.com/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
  <script defer src="https://unpkg.com/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
  <script defer src="https://unpkg.com/alpinejs"></script>

  <script>
    if (navigator.appVersion.indexOf("Win") != -1) {
      document.body.classList.add('ms-windows');
    }
  </script>
</head>

<body>