{% include "_html-head.njk" %}

  <a id="docs-skip-link" href="#docs-header" tabindex="1" class="block p-1 visually-hidden">
    <div class="container">
    <span class="panel-link-title">Skip to main content</span>
    </div>
  </a>

{% include "site-top-bar.njk" %}

</div>
<div id="site-page" class="w-xxl mx-auto grid sm:auto-2-cols md:auto-3-cols">

  <nav id="site-navigation" class="sm:rows-1-4 lg:rows-1-3 relative">
    <div class="sm:sticky">
      {# include "site-side-nav.njk" #}
      <div
      x-data
      x-cloak
      x-init="$store.docsNav.checkURL()"
      x-show="$store.docsNav.open"
      x-transition:enter="transition-all-300ms"
      x-transition:enter-start="translate-left-100%"
      x-transition:enter-end="translate-0"
      x-transition:leave="transition-all-300ms"
      x-transition:leave-start="translate-0"
      x-transition:leave-end="translate-left-100%"
      x-trap.noscroll.inert="$store.docsNav.open && $store.docsNav.belowBP"
      class="offcanvas offcanvas-left sm:offcanvas-override w-xxs bs-1 bg-white-glass-5"
      @click.outside="$store.docsNav.open = !$store.docsNav.belowBP || false"
      @keyup.escape="$store.docsNav.open = !$store.docsNav.belowBP || false"
    >
      <div
        class="t-right"
        x-show="$store.docsNav.belowBP"
      >
        <!-- Close button-->
        <div
          x-cloak
          class="bg-white sticky w-100% z-index-1 t-right"
          x-show="$store.docsNav.belowBP"
        >
          <button
          class="m-1 btn-icon rounded-full"
          aria-label="Close menu"
          @click="$store.docsNav.open = false">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><line x1="200" y1="56" x2="56" y2="200" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="20"></line><line x1="200" y1="200" x2="56" y2="56" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="20"></line></svg>
          </button>
        </div>
      </div>
    
      <div id="side-menu-wrap" class="p-2 md:pt-4 pb-6">
    
        <div class="mb-3 sm:hidden">
          <div><a class="block py-1 t-decoration-none hover:t-decoration-underline t-gray-600 hover:t-gray-900" href="{{ '/dist/codebase.css' | url }}{{ '?v=' + metadata.version }}">Download</a></div>
          <div><a class="block py-1 t-decoration-none hover:t-decoration-underline t-gray-600 hover:t-gray-900" href="https://github.com/codebase-frontend-library/codebase-5">Github</a></div>
        </div>

        {% include "site-side-nav.njk" %}
    
      </div>
    </div>
    </div>
  </nav>

  <header id="docs-header" class="col-1 row-1 sm:col-2">
    <div class="container-sm py-3 xs:py-6 md:aspect-ratio-3x1 flex flex-column flex-center t-display">
      <div class="m-0">
        {% if '1-getting-started' in page.url %}
        <div class="my-1 t-thin t-gray-800">Getting started</div>
        {% elif '2-classless-basics' in page.url %}
        <div class="my-1 t-thin t-gray-800">Classless basics</div>
        {% elif '3-layout-utilities' in page.url %}
        <div class="my-1 t-thin t-gray-800">Layout utilities</div>
        {% elif '4-decoration-utilities' in page.url %}
        <div class="my-1 t-thin t-gray-800">Decoration utilities</div>
        {% elif '5-typographic-utilities' in page.url %}
        <div class="my-1 t-thin t-gray-800">Typographic utilities</div>
        {% elif '6-simple-components' in page.url %}
        <div class="my-1 t-thin t-gray-800">Simple components</div>
        {% elif '7-alpinejs-components' in page.url %}
        <div class="my-1 t-thin t-gray-800">AlpineJS components</div>
        {% endif %}
      </div>
      <div>
        <h1 class="h2 mt-0 t-bold t-balance">{{ headerTitle if headerTitle else title }}</h1>    
      </div>
    </div>
  </header>

  <nav id="nav-on-this-page" class="col-1 row-2 sm:col-2 lg:col-3 lg:rows-1-3">
    <div class="container-sm mx-auto lg:sticky mb-6">
      <div class="b-thin b-gray-400 rounded px-2 pt-2 lg:pt-4 lg:b-0">
        <div class="h5 mb-2 t-semibold">On this page</div>
        <div id="toc"></div>    
      </div>
    </div>
  </nav>

  <main class="col-1 sm:col-2">
    <div class="container-sm">
      {{ content | safe }}
    </div>
  </main>

  <footer class="col-1 sm:col-2">
    <div class="container-sm py-6">
      <hr>
      <nav class="list-style-type-none mb-0 pl-0 flex flex-wrap flex-grow-auto col-gap-4">
        {% if prevPage %}
        <li class="py-1"><a class="inline-block t-decoration-none t-gray-900 hover:t-black float-left" href="{{ prevPage | url }}">❮ {{ prevLink if prevLink else "Previous page" }}</a></li>
        {% endif %}
        {% if nextPage %}
        <li class="py-1 t-right"><a class="inline-block t-decoration-none t-gray-900 hover:t-black float-right" href="{{ nextPage | url }}">{{ nextLink if nextLink else "Next page" }} ❯</a></li>
        {% endif %}  
      </nav>
    </div>
  </footer>

</div>

{% include "site-footer.njk" %}

<script>
  let tocId = "toc";
 
  let headings;
  let headingIds = [];
  let headingIntersectionData = {};
    
  function getTocList(heading, previousHeading, currentListElement) {
    let listSection = currentListElement;
    if (previousHeading) {
      if (heading.tagName.slice(-1) > previousHeading.tagName.slice(-1)) {
        let nextSection = document.createElement("ul");
        listSection.appendChild(nextSection);
        return nextSection;
      } else if (heading.tagName.slice(-1) < previousHeading.tagName.slice(-1)) {
        let indentationDiff =
          parseInt(previousHeading.tagName.slice(-1)) -
          parseInt(heading.tagName.slice(-1));
        while (indentationDiff > 0) {
          listSection = listSection.parentElement;
          indentationDiff--;
        }
      }
    }
    return listSection;
  }
    
  function setIdFromContent(element, appendedId) {
    if (!element.id) {
      element.id = `${element.innerHTML
        .replace(/:/g, "")
        .trim()
        .toLowerCase()
        .split(" ")
        .join("-")}-${appendedId}`;
    }
  }
    
  function addNavLink(heading, currentSectionList) {
    let listItem = document.createElement("li");
    let anchor = document.createElement("a");
    anchor.innerHTML = heading.innerHTML;
    anchor.id = `${heading.id}-link`;
    anchor.href = `#${heading.id}`;
    listItem.appendChild(anchor);
    currentSectionList.appendChild(listItem);
  }
    
  function buildToc() {
    const tocElement = document.querySelector(`#${tocId}`);
    const main = document.querySelector("main");
    headings = main.querySelectorAll("h2, h3, h4, h5, h6");
    let previousHeading;
    let currentSectionList = document.createElement("ul");
    tocElement.appendChild(currentSectionList);
    
    headings.forEach((heading, index) => {
      currentSectionList = getTocList(
        heading,
        previousHeading,
        currentSectionList
      );
      setIdFromContent(heading, index);
      addNavLink(heading, currentSectionList);
    
      headingIds.push(heading.id);
      headingIntersectionData[heading.id] = {
        y: 0
      };
      previousHeading = heading;
    });
  }
    
  window.addEventListener("load", (event) => {
    buildToc();
  });
</script>

{% include "_html-foot.njk" %}