<p class="h5 mb-2 t-semibold">Documentation</p>

<div x-id="['menu']">
  <button class="w-100% flex-start b-0 px-0 unrounded hover:bg-transparent" @click="$store.docsNav.menu1open = !$store.docsNav.menu1open" :aria-controls="$id('menu')" :aria-expanded="$store.docsNav.menu1open" @keyup.escape="$store.docsNav.menu1open = false">
    <svg
      class="transition-all-300ms"
      :class="$store.docsNav.menu1open && 'rotate-90'" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><polyline points="96 48 176 128 96 208" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="20"></polyline></svg>
    <span class="ml-space t-semibold">Getting started</span>
  </button>
  <div
    x-cloak
    :id="$id('menu')"
    id="docs-dropdown-1"
    x-show="$store.docsNav.menu1open"
    x-collapse.duration.300ms
  >
    <menu class="list-style-type-none links-underline-hover-only mt-1 flex flex-column gap-2">
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/1-getting-started/introduction/' | url }}">Introduction</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/1-getting-started/responsive-design' | url }}">Responsive design</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/1-getting-started/element-grid' | url }}">Element grid</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/1-getting-started/css-variables' | url }}">CSS variables</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/1-getting-started/improvements-since-codebase-4' | url }}">Improvements since Codebase 4</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/1-getting-started/accessibility' | url }}">Accessibility</a></li>
    </menu>
  </div>  
</div>

<div x-id="['menu']">
  <button class="w-100% flex-start b-0 px-0 unrounded hover:bg-transparent" @click="$store.docsNav.menu2open = !$store.docsNav.menu2open" :aria-controls="$id('menu')" :aria-expanded="$store.docsNav.menu2open" @keyup.escape="$store.docsNav.menu2open = false">
    <svg
      class="transition-all-300ms"
      :class="$store.docsNav.menu2open && 'rotate-90'"
      xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><polyline points="96 48 176 128 96 208" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="20"></polyline></svg>
    <span class="ml-space t-semibold">Classless basics</span>
  </button>
  <div
    x-cloak
    :id="$id('menu')"
    x-show="$store.docsNav.menu2open"
    x-collapse.duration.300ms
  >
    <menu class="list-style-type-none links-underline-hover-only mt-1 flex flex-column gap-2">
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/2-classless-basics/block-elements' | url }}">Block elements</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/2-classless-basics/inline-elements' | url }}">Inline elements</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/2-classless-basics/form-elements' | url }}">Form elements</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/2-classless-basics/media' | url }}">Media</a></li>
    </menu>
  </div>
</div>

<p class="my-2 t-loose t-uppercase t-gray-700">Utilities</p>

<div x-id="['menu']">
  <button class="w-100% flex-start b-0 px-0 unrounded hover:bg-transparent" @click="$store.docsNav.menu3open = !$store.docsNav.menu3open" :aria-controls="$id('menu')" :aria-expanded="$store.docsNav.menu3open" @keyup.escape="$store.docsNav.menu3open = false">
    <svg
      class="transition-all-300ms"
      :class="$store.docsNav.menu3open && 'rotate-90'"
      xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><polyline points="96 48 176 128 96 208" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="20"></polyline></svg>
    <span class="ml-space t-semibold">Layout</span>
  </button>
  <div
    x-cloak
    :id="$id('menu')"
    x-show="$store.docsNav.menu3open"
    x-collapse.duration.300ms
  >
    <menu class="list-style-type-none links-underline-hover-only mt-1 flex flex-column gap-2">
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/3-layout-utilities/containers' | url }}">Containers</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/3-layout-utilities/blocks' | url }}">Blocks</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/3-layout-utilities/positions' | url }}">Positions</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/3-layout-utilities/dimensions' | url }}">Dimensions</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/3-layout-utilities/flexbox' | url }}">Flexbox</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/3-layout-utilities/grid' | url }}">Grid</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/3-layout-utilities/aspect-ratios' | url }}">Aspect ratios</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/3-layout-utilities/floats' | url }}">Floats</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/3-layout-utilities/overflows' | url }}">Overflows</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/3-layout-utilities/invisibility' | url }}">Invisibility</a></li>
    </menu>
  </div>
</div>

<div x-id="['menu']">
  <button class="w-100% flex-start b-0 px-0 unrounded hover:bg-transparent" @click="$store.docsNav.menu4open = !$store.docsNav.menu4open" :aria-controls="$id('menu')" :aria-expanded="$store.docsNav.menu4open" @keyup.escape="$store.docsNav.menu4open = false">
    <svg
      class="transition-all-300ms"
      :class="$store.docsNav.menu4open && 'rotate-90'"
      xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><polyline points="96 48 176 128 96 208" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="20"></polyline></svg>
    <span class="ml-space t-semibold">Decoration</span>
  </button>
  <div
    x-cloak
    :id="$id('menu')"
    x-show="$store.docsNav.menu4open"
    x-collapse.duration.300ms
  >
    <menu class="list-style-type-none links-underline-hover-only mt-1 flex flex-column gap-2">
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/4-decoration-utilities/colors' | url }}">Colors</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/4-decoration-utilities/glass' | url }}">Glass</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/4-decoration-utilities/spacing' | url }}">Spacing</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/4-decoration-utilities/borders' | url }}">Borders</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/4-decoration-utilities/rounded-corners' | url }}">Rounded corners</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/4-decoration-utilities/box-shadows' | url }}">Box shadows</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/4-decoration-utilities/images' | url }}">Images</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/4-decoration-utilities/forms' | url }}">Forms</a></li>
    </menu>
  </div>
</div>

<div x-id="['menu']">
  <button class="w-100% flex-start b-0 px-0 unrounded hover:bg-transparent" @click="$store.docsNav.menu5open = !$store.docsNav.menu5open" :aria-controls="$id('menu')" :aria-expanded="$store.docsNav.menu5open" @keyup.escape="$store.docsNav.menu5open = false">
    <svg
      class="transition-all-300ms"
      :class="$store.docsNav.menu5open && 'rotate-90'"
      xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><polyline points="96 48 176 128 96 208" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="20"></polyline></svg>
    <span class="ml-space t-semibold">Typography</span>
  </button>
  <div
    x-cloak
    :id="$id('menu')"
    x-show="$store.docsNav.menu5open"
    x-collapse.duration.300ms
  >
    <menu class="list-style-type-none links-underline-hover-only mt-1 flex flex-column gap-2">
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/5-typographic-utilities/font-stacks' | url }}">Font stacks</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/5-typographic-utilities/making-text-bigger' | url }}">Making text bigger</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/5-typographic-utilities/text-alignment' | url }}">Text alignment</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/5-typographic-utilities/inline-text' | url }}">Inline text</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/5-typographic-utilities/list-formats' | url }}">List formats</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/5-typographic-utilities/text-columns' | url }}">Text columns</a></li>
    </menu>
  </div>
</div>

<p class="my-2 t-loose t-uppercase t-gray-700">Components</p>

<div x-id="['menu']">
  <button class="w-100% flex-start b-0 px-0 unrounded hover:bg-transparent" @click="$store.docsNav.menu6open = !$store.docsNav.menu6open" :aria-controls="$id('menu')" :aria-expanded="$store.docsNav.menu6open" @keyup.escape="$store.docsNav.menu6open = false">
    <svg
      class="transition-all-300ms" 
      :class="$store.docsNav.menu6open && 'rotate-90'"
      xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><polyline points="96 48 176 128 96 208" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="20"></polyline></svg>
    <span class="ml-space t-semibold">Simple (CSS only)</span>
  </button>
  <div
    x-cloak
    :id="$id('menu')"
    x-show="$store.docsNav.menu6open"
    x-collapse.duration.300ms
  >
    <menu class="list-style-type-none links-underline-hover-only mt-1 flex flex-column gap-2">
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/6-simple-components/menus-and-menubars' | url }}">Menus and menubars</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/6-simple-components/heros' | url }}">Heros</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/6-simple-components/buttons' | url }}">Buttons</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/6-simple-components/badges' | url }}">Badges</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/6-simple-components/labels' | url }}">Labels</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/6-simple-components/tables' | url }}">Tables</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/6-simple-components/media-objects' | url }}">Media objects</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/6-simple-components/cards' | url }}">Cards</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/6-simple-components/panel-links' | url }}">Panel links</a></li>
    </menu>
  </div>
</div>

<div x-id="['menu']">
  <button class="w-100% flex-start b-0 px-0 unrounded hover:bg-transparent" @click="$store.docsNav.menu7open = !$store.docsNav.menu7open" :aria-controls="$id('menu')" :aria-expanded="$store.docsNav.menu7open" @keyup.escape="$store.docsNav.menu7open = false">
    <svg
      class="transition-all-300ms"
      :class="$store.docsNav.menu7open && 'rotate-90'"
      xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><polyline points="96 48 176 128 96 208" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="20"></polyline></svg>
    <span class="ml-space t-semibold">With AlpineJS</span>
  </button>
  <div
    x-cloak
    :id="$id('menu')"
    x-show="$store.docsNav.menu7open"
    x-collapse.duration.300ms
  >
    <ul class="list-style-type-none links-underline-hover-only mt-1 flex flex-column gap-2">
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/7-alpinejs-components/collapse' | url }}">Collapse</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/7-alpinejs-components/dropdowns' | url }}">Dropdowns</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/7-alpinejs-components/modals' | url }}">Modals</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/7-alpinejs-components/offcanvas' | url }}">Offcanvas</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/7-alpinejs-components/tabs' | url }}">Tabs</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/7-alpinejs-components/slideshows' | url }}">Slideshows</a></li>
      <li><a class="t-gray-700 hover:t-black" href="{{ '/docs/7-alpinejs-components/animations' | url }}">Animations</a></li>
    </ul>
  </div>
</div>