<script>
  document.addEventListener('alpine:init', () => {
    let viewportWidth = window.innerWidth;
    
    Alpine.store('docsNav', {
      open: window.innerWidth >= 768,
      belowBP: window.innerWidth < 768,
      menu1open: false,
      menu2open: false,
      menu3open: false,
      menu4open: false,
      menu5open: false,
      menu6open: false,
      menu7open: false,

      checkURL() {
        if (window.location.href.indexOf('1-getting-started') > -1) {
          this.menu1open = true
        }
        if (window.location.href.indexOf('2-classless-basics') > -1) {
          this.menu2open = true
        }
        if (window.location.href.indexOf('3-layout-utilities') > -1) {
          this.menu3open = true
        }
        if (window.location.href.indexOf('4-decoration-utilities') > -1) {
          this.menu4open = true
        }
        if (window.location.href.indexOf('5-typographic-utilities') > -1) {
          this.menu5open = true
        }
        if (window.location.href.indexOf('6-simple-components') > -1) {
          this.menu6open = true
        }
        if (window.location.href.indexOf('7-alpinejs-components') > -1) {
          this.menu7open = true
        }
      },

      reset() {
        let currentWidth = window.innerWidth;

        // Ignoring height changes (e.g. iPhone Safari top/bottom bars)
        if (currentWidth != viewportWidth) {
          // width has changed
          
          viewportWidth = currentWidth;
          
          if (viewportWidth >= 768) {
            this.open = true,
            this.belowBP = false
          } else {
            this.open = false,
            this.belowBP = true
          }
        }
      }

    })

  })
</script>

<div id="site-top-bar" class="sm:sticky bg-black-glass-5">
  <div class="w-xxl mx-auto h-100% relative flex flex-middle">

    <!-- Navicon -->
    <div
      x-data
      @resize.window.throttle="$store.docsNav.reset()"
    >
      <button
        x-cloak
        class="btn-icon rounded-full ml-1 t-gray-600 hover:t-black hover:bg-transparent"
        @click="$store.docsNav.open = true"
        aria-label="Site menu"
        :aria-expanded="$store.docsNav"
        x-show="$store.docsNav.belowBP"
      >
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><line x1="40" y1="128" x2="216" y2="128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="20"></line><line x1="40" y1="64" x2="216" y2="64" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="20"></line><line x1="40" y1="192" x2="216" y2="192" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="20"></line></svg>
      </button>
    </div>
  
    <div class="p-1">
      <a
        id="site-title"
        class="flex flex-middle gap-1 h6 my-0 pl-1 t-decoration-none t-white hover:t-white"
        :class="scrollAtTop ? 'enlarged' : ''"
        href="{{ '/' | url }}"
        tabindex="1"
      >
        <!-- Codebase logo-->
        <svg viewBox="0 0 340 180" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-miterlimit="2">
          <path d="M195.956 115.956c14.059-14.059 36.853-14.059 50.912 0 14.058 14.059 14.058 36.853 0 50.912L323.235 90.5l-76.367-76.368c14.058 14.059 14.058 36.853 0 50.912-14.059 14.059-36.853 14.059-50.912 0-14.059-14.059-36.853-14.059-50.912 0-14.059 14.059-14.059 36.853 0 50.912 14.059 14.059 36.853 14.059 50.912 0M17.765 90.5l76.367-76.368c-42.176 42.177-42.176 110.559 0 152.736L17.765 90.5z" fill-rule="nonzero" fill="currentColor" stroke="currentColor" stroke-width="10"></path>
        </svg>
        <span class="t-loose t-semibold">Codebase</span>
      </a>
    </div>
  
    <div class="grow">
      <div class="menu pr-1 flex flex-end sm:hidden-below">
        <div><a class="p-cell t-gray-100 t-decoration-none t-semibold hover:t-decoration-underline hover:t-white" href="{{ '/dist/codebase.css' | url }}{{ '?v=' + metadata.version }}">Download CSS</a></div>
        <div><a class="p-cell t-gray-100 t-decoration-none hover:t-decoration-underline hover:t-white" href="https://github.com/codebase-frontend-library/codebase-5">Github</a></div>
      </div>  
    </div>
  
  </div>
</div>


