// UTILITIES: BLEEDS
// ~~~~~~~~~~~~~~~~~

// Based on https://joshwcomeau.com/css/full-bleed/

.x-bleed {
  width: 100%;
  grid-column: 1/ span 3;
  margin-right: 0;
  margin-left: 0;
}

.l-bleed {
  grid-column: 1/ span 2;
  margin-left: 0;
}

.r-bleed {
  grid-column: 2/ span 2;
  margin-right: 0;
}

// DEPRECATED: full-bleed utility from: https://hankchizljaw.com/wrote/creating-a-full-bleed-css-utility/

// .full-bleed { 
//   width: 100vw;
//   margin-left: 50%;
//   transform: translateX(-50%);
// }