// UTILITIES: BORDER RADIUS (ROUNDED CORNERS)
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@use "../00_setup/default-variables" as *;

// [class*=rounded] {
//   overflow: hidden;
// }

.rounded {
  border-radius: var(--rad);

  &-sm {
    border-radius: var(--rad-sm);
  }

  &-lg {
    border-radius: var(--rad-lg);
  }

  &-pill {
    border-radius: var(--rad-pill);
  }

  &-full {
    border-radius: var(--rad-circle);
  }
}

.unrounded,
.unrounded-all {
  border-radius: 0 !important;
}

.unrounded-top-right {
  border-top-right-radius: 0 !important;
}

.unrounded-bottom-right {
  border-bottom-right-radius: 0 !important;
}

.unrounded-bottom-left {
  border-bottom-left-radius: 0 !important;
}

.unrounded-top-left {
  border-top-left-radius: 0 !important;
}

.unrounded-top {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.unrounded-right {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.unrounded-bottom {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.unrounded-left {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}