// UTILITIES: BORDER RADIUS (ROUNDED CORNERS)
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@use "../00_setup/default-variables" as *;

.unrounded {
  border-radius: 0;
}

.rounded {
  --rad: var(--rad-md);
  border-radius: var(--rad) var(--rad) var(--rad) var(--rad);
  &-tl {
    border-top-left-radius: var(--rad);
  }
  &-tr {
    border-top-right-radius: var(--rad);
  }
  &-br {
    border-bottom-right-radius: var(--rad);
  }
  &-bl {
    border-bottom-left-radius: var(--rad);
  }

  &-sm {
    --rad: var(--rad-sm);
  }

  &-md {
    --rad: var(--rad-md);
  }

  &-lg {
    --rad: var(--rad-lg);
  }

  &-xl {
    --rad: var(--rad-xl);
  }

  &-pill {
    --rad: var(--rad-pill);
  }
}

// .rounded {
//   border-radius: var(--rad-md);

//   &-sm {
//     border-radius: var(--rad-sm);
//   }

//   &-md {
//     border-radius: var(--rad-md);
//   }

//   &-lg {
//     border-radius: var(--rad-lg);
//   }

//   &-xl {
//     border-radius: var(--rad-xl);
//   }

//   &-pill {
//     border-radius: var(--rad-pill);
//   }

//   &-circle,
//   &-full {
//     border-radius: var(--rad-circle);
//   }
// }

// .unrounded {
//   border-radius: 0;

//   &-top-right {
//     border-top-right-radius: 0;
//   }

//   &-bottom-right {
//     border-bottom-right-radius: 0;
//   }

//   &-bottom-left {
//     border-bottom-left-radius: 0;
//   }

//   &-top-left {
//     border-top-left-radius: 0;
//   }

//   &-top {
//     border-top-left-radius: 0;
//     border-top-right-radius: 0;
//   }

//   &-right {
//     border-top-right-radius: 0;
//     border-bottom-right-radius: 0;
//   }

//   &-bottom {
//     border-bottom-right-radius: 0;
//     border-bottom-left-radius: 0;
//   }

//   &-left {
//     border-bottom-left-radius: 0;
//     border-top-left-radius: 0;
//   }
//   &-all {
//     border-radius: 0
//   }
// }