// UTILITIES: COLORS
// ~~~~~~~~~~~~~~~~~

@use "../00_setup/default-variables" as *;

// .bg-     background color
// .t-      text color
// .b-      border color


// UI colors
@each $key,
$val in $ui-color {
  .bg-#{$key} {
    background-color: $val
  }

  .t-#{$key} {
    color: $val
  }

  .b-#{$key} {
    border-color: $val
  }
}

// Shades of named theme colors
@if $color-shade-utilities ==true {

  @each $key,
  $val in $theme-color {

    @each $key2,
    $val2 in $shade {

      .b-#{$key}-#{$key2},
      .hover\:b-#{$key}-#{$key2}:hover {
        border-color: var(--#{$key}-#{$key2});
      }

      .bg-#{$key}-#{$key2},
      .hover\:bg-#{$key}-#{$key2}:hover {
        background-color: var(--#{$key}-#{$key2});
      }

      .t-#{$key}-#{$key2},
      .hover\:t-#{$key}-#{$key2}:hover {
        color: var(--#{$key}-#{$key2});
      }
    }
  }
}

[class*="hover"] {
  transition: var(--ease);
}

.bg-under-border {
  background-origin: border-box;
}

.bg-transparent,
.hover\:bg-transparent:hover {
  background-color: transparent;
}

.b-transparent,
.hover\:b-transparent:hover {
  border-color: transparent;
}

.bg-white,
.hover\:bg-white:hover {
  background-color: white;
}

.t-white,
.hover\:t-white:hover {
  color: white;
}

.b-white,
.hover\:b-white:hover {
  border-color: white;
}

.bg-black,
.hover\:bg-black:hover {
  background-color: black;
}

.t-black,
.hover\:t-black:hover {
  color: black;
}

.b-black,
.hover\:b-black:hover {
  border-color: black;
}