// UTILITIES: CONTAINERS
// ~~~~~~~~~~~~~~~~~~~~~

@use "../00_setup/default-variables" as *;

.container {
  width: min(100% - ($container-x-space * 2), $container-default);
  margin-inline: auto;
}

.container {
  &-xxl {
    width: min(100% - ($container-x-space * 2), map-get($width, w-xxl));
    margin-inline: auto;
  }
  &-xl {
    width: min(100% - ($container-x-space * 2), map-get($width, w-xl));
    margin-inline: auto;
  }
  &-lg {
    width: min(100% - ($container-x-space * 2), map-get($width, w-lg));
    margin-inline: auto;
  }
  &-md {
    width: min(100% - ($container-x-space * 2), map-get($width, w-md));
    margin-inline: auto;
  }
  &-sm {
    width: min(100% - ($container-x-space * 2), map-get($width, w-sm));
    margin-inline: auto;
  }
  &-xs {
    width: min(100% - ($container-x-space * 2), map-get($width, w-xs));
    margin-inline: auto;
  }
}