// UTILITIES: CONTAINERS
// ~~~~~~~~~~~~~~~~~~~~~

@use "../00_setup/default-variables" as *;

.container {
  width: min(100% - (var(--container-x) * 2), var(--container));
  margin-inline: auto;
  &-xxl {
    width: min(100% - (var(--container-x) * 2), var(--w-xxl));
    margin-inline: auto;
  }

  &-xl {
    width: min(100% - (var(--container-x) * 2), var(--w-xl));
    margin-inline: auto;
  }

  &-lg {
    width: min(100% - (var(--container-x) * 2), var(--w-lg));
    margin-inline: auto;
  }

  &-md {
    width: min(100% - (var(--container-x) * 2), var(--w-md));
    margin-inline: auto;
  }

  &-sm {
    width: min(100% - (var(--container-x) * 2), var(--w-sm));
    margin-inline: auto;
  }

  &-xs {
    width: min(100% - (var(--container-x) * 2), var(--w-xs));
    margin-inline: auto;
  }
}