// UTILITIES: GLASS
// ~~~~~~~~~~~~~~~~

@use "../00_setup/default-variables" as *;

.bg-black-glass-1 {
  background-color: rgba(0,0,0, 0.39);
}
.bg-black-glass-2 {
  background-color: rgba(0,0,0, 0.55);
}
.bg-black-glass-3 {
  background-color: rgba(0,0,0, 0.7);
}
.bg-black-glass-4 {
  background-color: rgba(0,0,0, 0.82);
}
.bg-black-glass-5 {
  background-color: rgba(0,0,0, 0.95);
}

.bg-white-glass-1 {
  background-color: rgba(255, 255, 255, 0.39);
}
.bg-white-glass-2 {
  background-color: rgba(255, 255, 255, 0.55);
}
.bg-white-glass-3 {
  background-color: rgba(255, 255, 255, 0.7);
}
.bg-white-glass-4 {
  background-color: rgba(255, 255, 255, 0.82);
}
.bg-white-glass-5 {
  background-color: rgba(255, 255, 255, 0.95);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  // Black glassmorphic
  .bg-black-glass-1 {
    background-color: rgba(0,0,0,.1);
    backdrop-filter: saturate(180%) blur(2px);
  }  
  .bg-black-glass-2 {
    background-color: rgba(0,0,0,.25);
    backdrop-filter: saturate(180%) blur(3px);
  }
  .bg-black-glass-3 {
    background-color: rgba(0,0,0,.4);
    backdrop-filter: saturate(180%) blur(5px);
  }
  .bg-black-glass-4 {
    background-color: rgba(0, 0, 0, 0.55);
    backdrop-filter: saturate(180%) blur(8px);
  }
  .bg-black-glass-5 {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: saturate(180%) blur(20px);
  }
  // White glassmorphic
  .bg-white-glass-1 {
    background-color: rgba(255,255,255,.1);
    backdrop-filter: saturate(180%) blur(2px);
  }
  .bg-white-glass-2 {
    background-color: rgba(255,255,255,.25);
    backdrop-filter: saturate(180%) blur(3px);
  }
  .bg-white-glass-3 {
    background-color: rgba(255,255,255,.4);
    backdrop-filter: saturate(180%) blur(5px);
  }
  .bg-white-glass-4 {
    background-color: rgba(255, 255, 255, 0.55);
    backdrop-filter: saturate(180%) blur(8px);
  }
  .bg-white-glass-5 {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: saturate(180%) blur(20px);
  }
}