// UTILITIES: IMAGES
// ~~~~~~~~~~~~~~~~~

img {
  display: block;
  max-width: 100%;
  height: auto;
  outline: transparent;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover !important;
  object-position: center;
  overflow: hidden;

  &-right-top {
    object-position: right top;
  }

  &-right {
    object-position: right;
  }

  &-right-bottom {
    object-position: right bottom;
  }

  &-bottom {
    object-position: bottom;
  }

  &-left-bottom {
    object-position: left bottom;
  }

  &-left {
    object-position: left;
  }

  &-left-top {
    object-position: left top;
  }

  &-top {
    object-position: top;
  }
}

.img-contain {
  width: 100%;
  height: 100%;
  object-fit: contain !important;
}

.img-grayscale {
  filter: grayscale(100%);
}

.img-blur {
  filter: blur(5px);
}