// UTILITIES: INVISIBILITY
// ~~~~~~~~~~~~~~~~~~~~~~~

@use "../00_setup/default-variables" as *;

.hidden { // all viewports
  display: none;
}

@each $mq-key, $mq-value in $mq-width {
  @include break-max(#{$mq-value}) {
    .#{$mq-key}\:hidden-below {
      display: none !important;
    }
  }
}

@each $mq-key, $mq-value in $mq-width {
  @include break-min(#{$mq-value}) {
    .#{$mq-key}\:hidden {
      display: none !important;
    }
  }
}