// UTILITIES: INVISIBILITY
// ~~~~~~~~~~~~~~~~~~~~~~~

@use "../00_setup/default-variables" as *;

// From: https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content/
.visually-hidden:not(:focus):not(:active),
.screen-reader-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.hidden { // all viewports
  display: none;
}

@each $mq-key, $mq-value in $mq-width {
  @include break-max(#{$mq-value}) {
    .#{$mq-key}\:hidden-below {
      display: none !important;
    }
  }
}

@each $mq-key, $mq-value in $mq-width {
  @include break-min(#{$mq-value}) {
    .#{$mq-key}\:hidden {
      display: none !important;
    }
  }
}