// UTILITIES: OVERFLOWS
// ~~~~~~~~~~~~~~~~~~~~

@use "../00_setup/default-variables" as *;

.overflow-x {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  max-width: 100vw;
}
.overflow-x > table[class*=table] {
  margin: 0;
}

.overflow-y {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  max-height: 100vh;
}
.overflow-xy {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-width: 100vw;
  max-height: 100vh;
}

.overflow-hidden,
.overflow-clip {
  overflow: hidden;
  overflow: clip;
}

.overflow-visible {
  overflow: visible;
}