// UTILITIES: TRANSITIONS
// ~~~~~~~~~~~~~~~~~~~~~~

.transition-all-150ms {
  transition: all 150ms ease-in-out;
}
.transition-all-300ms {
  transition: all 300ms ease-in-out;
}
.transition-all-600ms {
  transition: all 600ms ease-in-out;
}
.transition-all-900ms {
  transition: all 900ms ease-in-out;
}
.transition-all-1200ms {
  transition: all 1200ms ease-in-out;
}
.transition-all-1800ms {
  transition: all 1800ms ease-in-out;
}
.transition-all-1500ms {
  transition: all 1500ms ease-in-out;
}
.transition-all-2400ms {
  transition: all 2400ms ease-in-out;
}

.transition-transform-150ms {
  transition: transform 150ms ease-in-out;
}
.transition-transform-300ms {
  transition: transform 300ms ease-in-out;
}
.transition-transform-600ms {
  transition: transform 600ms ease-in-out;
}
.transition-transform-900ms {
  transition: transform 900ms ease-in-out;
}
.transition-transform-1200ms {
  transition: transform 1200ms ease-in-out;
}
.transition-transform-1500ms {
  transition: transform 1500ms ease-in-out;
}
.transition-transform-1800ms {
  transition: transform 1800ms ease-in-out;
}
.transition-transform-2400ms {
  transition: transform 2400ms ease-in-out;
}