// UTILITIES: TYPOGRAPHIC
// ~~~~~~~~~~~~~~~~~~~~~~

@use "../00_setup/default-variables" as *;

// Also see `.t-` colors.

// Text alignment
@mixin text-alignment {
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

.t {
  @include text-alignment;
}

@each $mq-key,
$mq-value in $mq-width {
  .#{$mq-key}\:t {
    @include break-min(#{$mq-value}) {
      @include text-alignment;
    }
  }
}

// Text styles

.t-ui {
  font-family: var(--font-ui);
}

.t-mono {
  font-family: var(--font-mono);
}

.t-brand {
  font-family: var(--font-brand);
}

.t-sans-serif {
  font-family: var(--font-sans-serif);
}

.t-serif {
  font-family: var(--font-serif);
}

.t-prose {
  font-family: var(--font-prose);
}

.t-bolder,
.t-heavy {
  font-weight: var(--t-heavy);
}

.t-bold,
.t-strong {
  font-weight: var(--t-bold);
}

.t-semibold {
  font-weight: var(--t-semibold);
}

.t-normal {
  font-weight: var(--t-normal);
  font-style: normal;
}

.t-default {
  font-size: 1rem;
  line-height: inherit;
}

.t-lighter,
.t-thin {
  font-weight: var(--t-thin);
}

.t-italic,
.t-em {
  font-style: italic;
}

.t-strike {
  text-decoration: line-through;
}

.t-underline {
  text-decoration: underline;
}

.t-muted {
  opacity: 0.4;
}

.t-uppercase {
  text-transform: uppercase;
}

.t-loose {
  letter-spacing: .025em;
}

.t-tight {
  letter-spacing: -.05em;
}

.t-balance {
  text-wrap: balance;
}

.t-columns {
  column-width: var(--t-cols);
  column-gap: 1.5rem; // fallback
  column-gap: var(--t-cols-gap);
}

small,
.t-sm {
  font-size: var(--t-sm);
  line-height: inherit;
}

big,
.t-lg {
  font-size: var(--t-lg);
  line-height: inherit;
}

.t-long-read {
  font-size: var(--t-long-read);
}

.t-display {
  font-size: var(--t-display);
}

mark,
.t-mark,
.t-highlight {
  color: currentColor;
  background-color: var(--c-highlight);
}

.t-nowrap {
  white-space: nowrap;
}

.list-style-type {
  &-none {
    list-style-type: none;
  }

  &-square {
    list-style-type: square;
  }

  &-disc {
    list-style-type: disc;
  }

  &-circle {
    list-style-type: circle;
  }

  &-lower-alpha {
    list-style-type: lower-alpha;
  }

  &-upper-alpha {
    list-style-type: upper-alpha;
  }

  &-lower-roman {
    list-style-type: lower-roman;
  }

  &-upper-roman {
    list-style-type: upper-roman;
  }

  &-decimal {
    list-style-type: decimal;
  }
}