{% include "_html-head.njk" %}

<a id="docs-skip-link" href="#docs-article" tabindex="1" class="inline-block m-1 visually-hidden">Skip to main content</a>

<div id="site-top-bar" class="fixed w-100% bb-thin bg-white-glass-5">
  <div class="w-xxl mx-auto h-100% relative flex flex-middle">
    <div class="p-2">
      <a
        id="site-title"
        class="mb-0 ml-1 t-decoration-none t-teal-800 hover:t-black"
        :class="scrollAtTop ? 'enlarged' : ''"
        href="{{ '/' | url }}"
        tabindex="1"
      >
        <!-- Codebase logo-->
        <svg class="inline-block" viewBox="0 0 520 260" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2" fill="currentColor" >
          <path d="M199.492 119.492c12.106-12.107 31.734-12.107 43.84-.001 12.106 12.107 12.106 31.735 0 43.842l73.7-72.833-73.7-72.833c12.106 12.107 12.106 31.735 0 43.842-12.106 12.106-31.734 12.106-43.84-.001-16.012-16.011-41.972-16.011-57.984 0-16.011 16.012-16.011 41.972 0 57.984 16.012 16.011 41.972 16.011 57.984 0Z" transform="translate(3.078 -6.276) scale(1.50431)" fill="currentColor" />
          <path d="M220 270.13 90 399.87l130 130 20.5-20.811L130 399.87l110.805-109.5L220 270.13Z" transform="matrix(-1 0 0 1 610 -270)" fill="currentColor" />
          <path d="M97.668 17.667 23.877 90.503l73.791 72.83c-40.224-40.225-40.224-105.441 0-145.666Z" transform="translate(3.951 -6.276) scale(1.50431)" fill="currentColor" />
          <path d="M220 270.13 109.87 380 90 399.87l.13.13-.13.13 130 129.74 20.815-20.37L129.87 400 240.5 290.8 220 270.13Z" transform="translate(-90 -270.13)" fill="currentColor" />
        </svg>
        <span class="t-semibold">Codebase</span>
      </a>
    </div>
  </div>
</div>

<section class="h-100vh grid md:equal-2-cols">
  
  <div class="pt-6 md:pt-0 md:px-6 flex flex-column flex-center flex-middle t-center md:t-left t-white bg-teal-600">
    <div class="pt-3 container-xs t-long-read">
      <h1 class="mb-0 t-thin">Codebase is a <span class="h5 t-heavy t-nowrap">business class</span> CSS style library for the modern web</h1>
    </div>
    <div class="container-xs my-3 md:my-6 flex flex-wrap flex-center md:flex-start gap-2 h4">
      <a class="inline-block b-thin b-white rounded-pill p-block t-semibold t-white hover:t-teal-600 t-decoration-none hover:bg-white" href="{{ '/docs/1-getting-started/introduction/' | url }}">Docs</a>
      <a class="inline-block b-thin b-white rounded-pill p-block t-semibold t-white hover:t-teal-600 t-decoration-none hover:bg-white" href="{{ '/dist/codebase.css' | url }}{{ '?v=' + metadata.version }}">Download CSS</a>
      <a class="inline-block b-thin b-white rounded-pill p-block t-semibold t-white hover:t-teal-600 t-decoration-none hover:bg-white" href="https://github.com/codebase-frontend-library/codebase-5">GitHub repo</a>
    </div>
    <div class="pb-3 container-xs mx-auto grid xs:equal-2-cols gap-1">
      <div class="flex flex-column gap-1">
        <span>Current version: {{ metadata.version }}</span>
        <span>CSS file size: {{ metadata.css_filesize }}</span>
      </div>
      <div class="flex flex-column gap-1">
        <span>Licence: <a class="t-teal-200 hover:t-white" href="https://github.com/codebase-frontend-library/codebase-5/blob/main/LICENCE">MIT</a></span>
        <span>Developer: <a class="t-teal-200 hover:t-white" href="https://github.com/SimonPadbury">Simon Padbury</a></span>
      </div>
    </div>
  </div>
  <div class="md:px-6 flex flex-column flex-center flex-middle">
    <div class="py-3 container-xs t-long-read">
      <p>Designed for static site generators and content management systems, Codebase is a package of lessons learned from semantic component frameworks and utility libraries, with new techniques such as CSS <code>grid</code>, <code>clamp()</code>, and <code>var()</code>.</p>
      <p class="mb-0">Plus, Codebase pairs well with <a href="https://alpinejs.dev" target="_blank">AlpineJS</a>.</p>
    </div>
  </div>
</section>
  

<main class="py-3 bg-teal-100">

  <div class="md:py-6 container-sm t-lg">
    <p>Starting from a beautifully minimalist set of classless HTML tag styles for cross-browser compatibility, Codebase brings you a “utility first” approach to all this and more:</p>
  </div>

    <div class="container-lg grid xs:equal-2-cols md:equal-3-cols gap-2 sm:gap-4 lg:gap-6">

      <div class="bs-3 rounded-lg p-2 md:p-4 bg-white">
        <h2>Typography</h2>
        <ul class="mb-0">
          <li>Serif, sans-serif, and monospaced font stacks</li>
          <li>Heading size formats</li>
          <li>Font weights: lighter, normal, semi-bold, bold, heavy</li>
          <li>Large display text for headings and landing pages</li>
          <li>Comfortable long-read font sizes controlled by CSS clamp</li>
          <li>Other text utilities incuding alignments, list formats, etc.</li>
        </ul>
      </div>

      <div class="bs-3 rounded-lg p-2 md:p-4 bg-white">
        <h2>Responsive layouts</h2>
        <ul class="mb-0">
          <li>A range of centered container, width, and height utilities</li>
          <li>Real two-dimensional CSS grid layouts for templating</li>
          <li>Flexbox layouts for components</li>
          <li>Fixed and sticky positioning</li>
          <li>Aspect-ratio controlled squared tiles</li>
          <li>Edge positioning</li>
          <li>Responsive invisibility classes</li>
        </ul>
      </div>

      <div class="bs-3 rounded-lg p-2 md:p-4 bg-white">
        <h2>Decoration</h2>
        <ul class="mb-0">
          <li>Color swatches for borders, text, and backgrounds (with hover states)</li>
          <li>Box-model spacing and borders</li>
          <li>Box shadows for layering</li>
        </ul>
      </div>

      <div class="bs-3 rounded-lg p-2 md:p-4 bg-white">
        <h2>Image handling</h2>
        <ul class="mb-0">
          <li>Responsive images</li>
          <li>Cover images and positioning</li>
          <li>A wide range of aspect ratios — for traditional image sizes and squared tiles</li>
          <li>Image filters and opacities</li>
          <li>Glassmorphic overlays</li>
        </ul>
      </div>

      <div class="bs-3 rounded-lg p-2 md:p-4 bg-white">
        <h2>Simple components (no JavaScript)</h2>
        <p class="mb-2">Examples:</p>
        <ul class="mb-0">
          <li>Buttons</li>
          <li>Badges</li>
          <li>Labels</li>
          <li>Heros</li>
          <li>Tables</li>
          <li>Media objects</li>
          <li>Cards</li>
        </ul>
      </div>

      <div class="bs-3 rounded-lg p-2 md:p-4 bg-white">
        <h2> Alpine.JS powered components</h2>
        <p class="mb-2">Examples:</p>
        <ul class="mb-0">
          <li>Collapse (slide reveal)</li>
          <li>Dropdowns</li>
          <li>Modals and lightboxes</li>
          <li>Offcanvas panels</li>
          <li>Tab systems</li>
          <li>Simple manual carousel</li>
          <li>Langing page animations</li>
        </ul>
      </div>

    </div>

    <p class="my-6 pb-6 t-center t-lg">
      <a class="inline-block b-thick b-teal-600 rounded-pill px-3 md:px-6 py-1 t-decoration-none t-heavy t-loose t-teal-600 hover:t-white hover:bg-teal-600" href="{{ '/docs/1-getting-started/introduction/' | url }}">Get started &rarr;</a>
    </p>

    <div class="container-sm my-6 xs:t-center">
      <p>
        Codebase and its documentation is developed in the <a href="https://www.11ty.dev/">Eleventy</a> static website generator, with NPM modules for preprocessing <a href="https://sass-lang.com">SCSS</a>.
      </p>
      <p>
        AlpineJS and its plugins are provided from the CDN recommended in the <a href="https://alpinejs.dev/)">AlpineJS.dev</a> docs.
      </p>
      <p>
        Other than the Codebase logo, docs icons are from <a href="https://phosphoricons.com/">Phosphor Icons</a>.
      </p>
      <p>
        Placeholder images are from <a href="https://www.pexels.com">Pexels</a>.
      </p>
    </div>
    
  </main>
</div>

{% include "site-footer.njk" %}

{% include "_html-foot.njk" %}