// UTILITIES: BUTTONS
// ~~~~~~~~~~~~~~~~~~

// NOTE: for the bacic button styling (including `.btn`), see `01_basics/_form-elements.scss`

@use "../00_setup/default-variables" as *;
@use "sass:list";

// Button size
.btn {
  &-sm {
    height: var(--form-size-sm);
    min-height: unset;
    padding: var(--btn-p-sm);
    font-size: var(--form-size-sm-fs);
  }

  &-lg {
    height: var(--form-size-lg);
    min-height: unset;
    padding: var(--btn-p-lg);
    font-size: var(--form-size-lg-fs);
  }
}

// Button icon (makes square)
.btn-icon {
  padding: 0 !important;
  height: var(--form-size);
  min-width: var(--form-size);

  &.btn-sm {
    height: var(--form-size-sm);
    min-width: var(--form-size-sm);
  }

  &.btn-lg {
    height: var(--form-size-lg);
    min-width: var(--form-size-lg);
  }

}

// UI colors

@if $ui-color-utilities == true {
  @each $key,
  $val in $ui-setup {
    .btn-#{$key} {
      border-color: list.nth($val, 1);
      background-color: list.nth($val, 1);
      color: list.nth($val, 3);

      &:hover,
      &:active,
      &.active {
        border-color: list.nth($val, 2);
        background-color: list.nth($val, 2);
        color: list.nth($val, 4);
      }
    }
  }
}