// UTILITIES: BUTTONS
// ~~~~~~~~~~~~~~~~~~

// NOTE: for the bacic button styling (including `.btn`), see `01_basics/_form-elements.scss`

@use "../00_setup/default-variables" as *;

// Button size
.btn {
  &-sm {
    height: var(--form-size-sm);
    min-height: unset;
    padding: var(--btn-p-sm);
  }

  &-lg {
    height: var(--form-size-lg);
    min-height: unset;
    padding: var(--btn-p-lg);
  }
}

// Button icon (makes square)
.btn-icon {
  padding: 0 !important;
  height: var(--form-size);
  min-width: var(--form-size);

  &.btn-sm {
    height: var(--form-size-sm);
    min-width: var(--form-size-sm);
  }

  &.btn-lg {
    height: var(--form-size-lg);
    min-width: var(--form-size-lg);
  }

}

// UI colors
@each $key,
$val in $ui-setup {
  .btn-#{$key} {
    border-color: nth($val, 1);
    background-color: nth($val, 1);
    color: nth($val, 3);

    &:hover,
    &:active,
    &.active {
      border-color: nth($val, 2);
      background-color: nth($val, 2);
      color: nth($val, 4);
    }
  }
}