// COMPONENTS: TABS
// ~~~~~~~~~~~~~~~~

@use "../00_setup/default-variables" as *;

.tablist {
  position: relative;
  bottom: calc(var(--b-thin) * -1);
}

.tab {
  position: relative;
  background-color: var(--c-page-bg-alt);
}

.tab[aria-selected="true"] {
  z-index: 2;
  background-color: var(--c-page-bg);
  // Remove border-bottom to make tab label look “attached” to its respective panel
  border-bottom: 0;
}

.tabpanel {
  position: relative;
  z-index: 1;
  background-color: var(--c-page-bg);
}