// UTILITIES: TABLES
// ~~~~~~~~~~~~~~~~~

@use "../00_setup/default-variables" as *;

.table {
  width: 100%;
  margin-bottom: var(--t-base-mb);
  border-collapse: collapse;
  border-spacing: 0;

  &:not(.table-borderless, .table-lined) {
    th,
    td {
      border: var(--line);
    }
  }

  th,
  td {
    padding: var(--sp-cell);
    vertical-align: top;
    text-align: unset;
  }
}

// Table variations
.table {
  &-lined {
    border-top: var(--line);
    border-bottom: var(--line);
    tbody tr {
      border-top: var(--line);
    }
  }
  &-compact {
    th,
    td {
      padding: 0.25rem 0.5rem;
    }
  }

  &-fixed {
    table-layout: fixed;
  }

  &-striped {
    thead,
    tbody tr:nth-child(even) {
      background-color: rgba(255, 255, 255, 0.05);
    }

    tbody tr:nth-child(odd) {
      background-color: rgba(29, 28, 31, 0.05);

    }
  }
}

// Cell alignments

[class*=table] .t-center {
  text-align: center !important;
}

[class*=table] .t-right {
  text-align: right !important;
}

[class*=table] .vertical-align {
  &-top {
    vertical-align: top;
  }

  &-middle {
    vertical-align: middle;
  }

  &-bottom {
    vertical-align: bottom;
  }
}